################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloGL/.vs/HelloGL/v16/Browse.VC.opendb
